@font-face {
  font-family: 'Mona Sans';
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
  src: url('fonts/mona.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist Mono';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url('fonts/geist-mono.woff2') format('woff2');
}

@import 'tailwindcss';

@theme {
  --font-sans: 'Mona Sans', sans-serif;
  --font-sans--font-feature-settings: 'ss01';

  --font-mono: 'Geist Mono', monospace;

  --color-brand-100: oklch(0.9 0.16 var(--brand));
  --color-brand-200: oklch(0.8 0.16 var(--brand));
  --color-brand-300: oklch(0.7 0.16 var(--brand));
  --color-brand-400: oklch(0.6 0.16 var(--brand));
  --color-brand-500: oklch(0.5 0.16 var(--brand));
  --color-brand-600: oklch(0.4 0.16 var(--brand));
  --color-brand-700: oklch(0.3 0.16 var(--brand));
  --color-brand-800: oklch(0.2 0.16 var(--brand));
  --color-brand-900: oklch(0.1 0.16 var(--brand));

  --chroma: 0.01;
  --hue: 264;
  --brand: 264;

  --color-zinc-950: oklch(0 0 0);
  --color-zinc-900: oklch(0.16 0.005 var(--hue));
  --color-zinc-800: oklch(0.2 var(--chroma) var(--hue));
  --color-zinc-700: oklch(0.3 var(--chroma) var(--hue));
  --color-zinc-600: oklch(0.4 var(--chroma) var(--hue));
  --color-zinc-500: oklch(0.5 var(--chroma) var(--hue));
  --color-zinc-400: oklch(0.6 var(--chroma) var(--hue));
  --color-zinc-300: oklch(0.7 var(--chroma) var(--hue));
  --color-zinc-200: oklch(0.8 var(--chroma) var(--hue));
  --color-zinc-100: oklch(0.9 var(--chroma) var(--hue));
  --color-zinc-50:  oklch(1.0 var(--chroma) var(--hue));
}

@utility container {
  margin-inline: auto;
}


@layer base {
  ::selection {
    @apply bg-brand-400 text-zinc-950;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer components {
  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-zinc-900;
    margin-block: 0;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-800;
    border: 0 solid var(--color-zinc-900);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-700;
  }

  /* Body */
  body {
    @apply pt-[env(safe-area-inset-top)]
      bg-zinc-950
      text-zinc-300;
  }

  .text-default {
    @apply text-sm/loose lg:text-base/loose 2xl:text-xl/loose;
  }

  /* Noise */
  #noise {
    @apply pointer-events-none
      relative
      top-0
      z-50
      h-full
      w-full
      bg-[url('imgs/noise.avif')]
      bg-size-[216px_auto]
      bg-top-left
      bg-repeat
      xl:absolute;
  }

  /* Hero */
  .hero {
    position: relative;
  }
  
  .hero::before {
    position: absolute;
    background: url('imgs/pattern-light.svg');
    content: '';
    height: 100vh;
    top: -2px;
    inset-inline: 0;
    mask-image: radial-gradient(
      circle at top center,
      var(--color-zinc-950),
      transparent 50%
    );
    pointer-events: none;
    z-index: -1;
    background-attachment: local;
  }
  
  @media (min-width: 1280px) {
    .hero::before {
      background-attachment: fixed;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .hero::before {
      background-image: url('imgs/pattern.svg');
    }
  }

  /* Cases */
  .cases-content {
    position: relative;
    overflow: hidden;
    border-block: none;
  }
  
  .cases-content::before {
    z-index: -1;
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('imgs/pattern.svg');
    background-repeat: repeat;
    background-position: top right;
    mask-image: radial-gradient(
      circle at bottom center,
      black,
      transparent 50%
    );
  }
  
  /* Cases Mobile */
  @media (max-width: 1280px) {
    .cases-content {
      position: relative;
      overflow: hidden;
      border-block: 1px solid var(--color-zinc-900);
    }
    
    .cases-content::before {
      background-image: url('imgs/pattern.svg');
      background-position: top center;
      background-repeat: repeat;
      content: '';
      inset: 0;
      mask-image: radial-gradient(
        circle at center,
        var(--color-zinc-950),
        transparent
      );
      position: absolute;
      z-index: -1;
    }
    
    .cases-content::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: black;
      z-index: -2;
    }
  }

  /* CTA Button */
  .cta-button {
    background-image: linear-gradient(
      to bottom,
      var(--color-zinc-50) 25%,
      var(--color-brand-400) 25%,
      var(--color-brand-400) 50%,
      var(--color-brand-400) 50%,
      var(--color-brand-400) 75%,
      var(--color-zinc-700) 75%
    );
    background-size: 100% 400%;
    background-position: 0% 100%;
    transition:
      background-position 0.4s cubic-bezier(0.75, 0, 0.5, 1),
      color 0.2s cubic-bezier(0.75, 0, 0.5, 1),
      outline 0.2s cubic-bezier(0.75, 0, 0.5, 1);
    color: var(--color-zinc-950);
    transition-delay: 0s, 0.2s, 0.2s;
    outline: 0px solid transparent;
    @apply rounded-full py-3 px-4 text-[1rem] font-medium leading-[20px] text-zinc-100;
  }

  .cta-button:hover,
  .cta-button:focus,
  .cta-button:focus-within,
  .cta-button.active {
    outline-width: 2px;
    outline-color: transparent;
    color: var(--color-zinc-950);
    background-position: 0% 0%;
  }

  /* Footer */
  .footer {
    position: relative;
  }

  .footer::before {
    position: absolute;
    inset: 0;
    background-image: url('imgs/pattern.svg');
    background-attachment: fixed;
    mask-image: radial-gradient(circle at bottom, white, black 50%);
    mask-mode: luminance;
    pointer-events: none;
    z-index: -1;
  }

  /* Error */
  .error {
    position: relative;
  }

  .error::before {
    position: absolute;
    inset: 0;
    content: '';
    background-image: url('imgs/pattern.svg');
    background-attachment: fixed;
    mask-image: radial-gradient(circle at bottom, white, black 50%);
    mask-mode: luminance;
    pointer-events: none;
    z-index: -1;
  }

  /* Lenis Smooth Scrolling */
  html.lenis {
    height: auto;
    scroll-behavior: smooth;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  @media (hover: none) and (pointer: coarse) {
    html {
      scroll-behavior: auto;
    }
  }

  /* Menu */
  .menu-item > div {
    @apply bg-[linear-gradient(to_bottom,var(--color-zinc-100)_50%,var(--color-brand-400)_50%)];
    background-size: 100% 200%;
    background-position: 0% 100%;
    transition:
      background-position 0.2s cubic-bezier(0.75, 0, 0.5, 1),
      filter 0.2s cubic-bezier(0.75, 0, 0.5, 1);
    transition-delay: 0.2s, 0s;
    border-radius: 0.125rem;
  }

  .menu-item:hover > div,
  .menu-item:focus > div,
  .menu-item:focus-within > div,
  .menu-item.active > div {
    background-position: 0% 0%;
  }

  .menu-item:active > div {
    filter: brightness(0.9);
  }

  .menu-toggle {
    height: 3rem;
    width: 3rem;
    position: relative;
  }

  .menu-toggle span {
    line-height: 3rem;
    transition: 0.2s cubic-bezier(0.75, 0, 0.5, 1);
    visibility: hidden;
    opacity: 0;
    display: grid;
  }

  .menu-toggle:hover span {
    visibility: visible;
    opacity: 1;
    transform: translateX(calc(-2rem));
  }

  .menu-toggle:hover::after,
  .menu-toggle:hover::before {
    top: calc(50% - 1px);
  }

  .menu-toggle::after,
  .menu-toggle::before {
    background: currentColor;
    content: '';
    height: 2px;
    position: absolute;
    right: 0;
    transition: 0.4s cubic-bezier(0.75, 0, 0.5, 1);
  }

  .menu-toggle::after {
    top: calc(58% - 1px);
    width: 40%;
  }

  .menu-toggle::before {
    top: calc(42% - 1px);
    width: 40%;
  }

  .menu-toggle--close span {
    color: transparent;
  }

  .menu-toggle--close::after,
  .menu-toggle--close::before {
    top: calc(50% - 1px);
    width: 40%;
    background: currentColor;
  }

  .menu-toggle--close::after {
    transform: rotate(-135deg);
  }

  .menu-toggle--close::before {
    transform: rotate(-225deg);
  }

  /* Praxis */
  .praxis path {
    stroke-width: 2;
    vector-effect: non-scaling-stroke;
    @apply stroke-brand-400;
  }

  .praxis svg {
    @apply fill-brand-400/0;
  }

  /* Marquee */
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-hover {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-50% - var(--gap)));
    }
  }

  .marquee {
    --gap: 2rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    mask: linear-gradient(90deg, transparent, black, black, transparent);
  }

  .marquee.reverse .marquee__content {
    animation-direction: reverse;
  }

  .marquee__content {
    @apply flex
      h-16
      shrink-0
      items-center
      justify-around
      overflow-hidden
      whitespace-nowrap
      px-0
      text-center
      text-[.75rem]
      uppercase
      leading-none
      tracking-[0.02em]
      lg:text-[.875rem]
      2xl:text-[1rem];
    min-width: 100%;
    gap: var(--gap);
    animation: marquee 56s linear infinite;
  }

  /* Progressive Blur */
  .progressive-blur > * {
    --progressive-blur-direction: 180deg;
    @apply absolute
      inset-0
      backdrop-blur-(--progressive-blur);
  }

  .progressive-blur.progressive-blur--reverse > * {
    --progressive-blur-direction: 0deg;
  }

  .progressive-blur > *:nth-child(1) {
    --progressive-blur: 1px;
    mask: linear-gradient(
      var(--progressive-blur-direction),
      rgba(0, 0, 0, 0) 0%,
      rgb(0, 0, 0) 16.67%
    );
  }

  .progressive-blur > *:nth-child(2) {
    --progressive-blur: 2px;
    mask: linear-gradient(
      var(--progressive-blur-direction),
      rgba(0, 0, 0, 0) 16.67%,
      rgb(0, 0, 0) 33.33%
    );
  }

  .progressive-blur > *:nth-child(3) {
    --progressive-blur: 4px;
    mask: linear-gradient(
      var(--progressive-blur-direction),
      rgba(0, 0, 0, 0) 33.33%,
      rgb(0, 0, 0) 50%
    );
  }

  .progressive-blur > *:nth-child(4) {
    --progressive-blur: 8px;
    mask: linear-gradient(
      var(--progressive-blur-direction),
      rgba(0, 0, 0, 0) 50%,
      rgb(0, 0, 0) 66.67%
    );
  }

  .progressive-blur > *:nth-child(5) {
    --progressive-blur: 16px;
    mask: linear-gradient(
      var(--progressive-blur-direction),
      rgba(0, 0, 0, 0) 66.67%,
      rgb(0, 0, 0) 83.33%
    );
  }

  .progressive-blur > *:nth-child(6) {
    --progressive-blur: 32px;
    mask: linear-gradient(
      var(--progressive-blur-direction),
      rgba(0, 0, 0, 0) 83.33%,
      rgb(0, 0, 0) 100%
    );
  }
}
